* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Regular';
    src: url(../fonts/Unbounded/static/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../fonts/Unbounded/static/Unbounded-Medium.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(../fonts/Unbounded/static/Unbounded-Bold.ttf);
}


.section {
    max-width: 1400px;
    margin: 0 auto;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ГЛАВНАЯ */
/* header start */
header {
    background-color: #283618;
}

.hd__bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.hd__bg h2 {
    color: #FEFAE0;
    font-family: 'Bold';
    font-size: 34px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

nav a {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 16px;
}

.nav-a {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav-a a {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 16px;
}

.hd__btn {
    background-color: #FEFAE0;
    font-family: 'Regular';
    font-size: 18px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hd__btn img {
    height: 18px;
}

.burg {
    display: none;
}

#burger,
[for=burger] {
    display: none;
}

/* header end */

/* banner start */
.banner__bg {
    background-color: #283618;
    height: 89vh;
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner__text h1 {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 50px;
    margin-top: 200px;
}

.button {
    background-color: #747474;
    color: #FEFAE0;
    padding: 15px 30px;
    font-family: 'Regular';
    font-size: 18px;
    padding: 7px 10px;
    text-align: center;
    margin-top: 20px;
}

.banner__img img {
    height: 600px;
    margin-top: 40px;
}

/* banner end */

/* popular start */
.h2 h2 {
    color: #283618;
    font-family: 'Bold';
    font-size: 30px;
    margin-bottom: 40px;
}

.pop__img {
    display: flex;
    justify-content: space-between;
}

.pop__small {
    position: relative;
}

.pop__txt {
    font-family: 'Regular';
    font-size: 18px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop__text {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 350px;
    top: 10px;
}

/* popular end */

/* catalog start */
.catalog__img {
    display: flex;
    justify-content: space-between;
}

.catalog__small p {
    text-align: center;
    font-family: 'Regular';
    font-size: 20px;
    color: black;
}

/* catalog end */

/* footer start */
footer {
    background-color: #283618;
}

.footer__bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.ft__bg h2 {
    color: #FEFAE0;
    font-family: 'Bold';
    font-size: 34px;
}

.footer__input input {
    color: #b5b5b5;
    font-family: 'Regular';
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 10px;
}

.footer__input button {
    color: #000000;
    font-family: 'Regular';
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 23px;
}

.ft__bg p {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 13px;
    margin-top: 15px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav a {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 16px;
}

.contact a,
address {
    color: #FEFAE0;
    font-family: 'Regular';
    font-size: 16px;
    text-align: right;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer end */
/* ГЛАВНАЯ */

@media screen and (max-width:430px) {
    .section {
        max-width: 400px;
        margin: 0 auto;
    }

    .py-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* header */

    header {
        background-color: #283618;
        width: 430px;
    }

    .hd__bg h2 {
        font-size: 25px;
    }

    .nav-a {
        display: none;
    }

    .hd__btn {
        display: none;
    }

    [for=burger] {
        display: block;
        position: fixed;
        left: 400px;
        top: 10px;
    }

    [for=burger]::before {
        content: url(../media/burg.svg);

    }

    nav {
        position: fixed;
        top: 0;
        width: 150px;
        background-color: rgba(255, 228, 196, 0.63);
        padding: 20px;
        display: none;
        flex-direction: column;
        margin-left: 200px;
    }

    nav a {
        color: #ffffff;
    }

    #burger:checked+[for=burger]+nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked+[for=burger]::before {
        content: url(../media/close.svg);
        font-size: 30px;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .hd__btn {
        display: none;
    }

    .banner__bg {
        height: 70vh;
    }

    .banner__text h1 {
        font-size: 23px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .banner__img img {
        height: 245px;
        width: 245px;
    }

    .h2 h2 {
        font-size: 25px;
        text-align: center;
    }

    .pop__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }

    .catalog__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }

    .catalog__small img {
        width: 300px;
    }

    .ft__bg h2 {
        font-size: 23px;
    }

    .nav {
        display: none;
    }

    .footer__bg {
        display: flex;
        flex-direction: column;
    }

    .footer__input {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .footer__input input {
        padding: 5px 20px;
    }

    .contact {
        text-align: right;
    }
}


/* CARD */
/* bread */
.bread {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.bread p {
    color: #747474;
    font-family: 'Regular';
    font-size: 13px;
}

.bread a {
    color: #747474;
    font-family: 'Regular';
    font-size: 13px;
}

/* bread */

/* card */
.card {
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.card__text h3 {
    font-size: 25px;
    font-family: 'Regular';
    margin-top: 20px;
    margin-bottom: 15px;
}

.price {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.price p {
    font-size: 17px;
    font-family: 'Regular';
    color: #333;
}

.p {
    font-size: 15px;
    color: rgba(51, 51, 51, 0.402);
    font-family: 'Regular';
}

.opis {
    font-size: 17px;
    font-family: 'Regular';
    color: #000000;
    margin-bottom: 15px;
}

.pp {
    font-size: 17px;
    font-family: 'Regular';
    color: #000000;
    margin-bottom: 10px;
}

.size {
    font-size: 17px;
    font-family: 'Regular';
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.size_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.otzuv {
    display: flex;
    gap: 5px;
    font-size: 17px;
    font-family: 'Regular';
    color: #747474;
    align-items: center;
    margin-bottom: 30px;
}

.card__bth {
    background-color: #333;
    padding: 13px;
    text-align: center;
    font-size: 17px;
    font-family: 'Regular';

}

.card__bth a {
    color: #fff;
}

/* card */
/* CARD */
@media screen and (max-width:430px) {
    .section {
        max-width: 400px;
        margin: 0 auto;
    }

    .py-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* header */

    header {
        background-color: #283618;
        width: 430px;
    }

    .hd__bg h2 {
        font-size: 25px;
    }

    .nav-a {
        display: none;
    }

    .hd__btn {
        display: none;
    }

    [for=burger] {
        display: block;
        position: fixed;
        left: 400px;
        top: 10px;
    }

    [for=burger]::before {
        content: url(../media/burg.svg);

    }

    nav {
        position: fixed;
        top: 0;
        width: 150px;
        background-color: rgba(255, 228, 196, 0.63);
        padding: 20px;
        display: none;
        flex-direction: column;
        margin-left: 200px;
    }

    nav a {
        color: #000000;
    }

    #burger:checked+[for=burger]+nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked+[for=burger]::before {
        content: url(../media/close.svg);
        font-size: 30px;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .bread {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card_img img {
        height: 250px;
    }

    .card__text h3 {
        font-size: 20px;
        font-family: 'Regular';
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .price {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    .price p {
        font-size: 15px;
    }

    .p {
        font-size: 13px;
    }

    .opis {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .pp {
        font-size: 15px;
        font-family: 'Regular';
        color: #000000;
        margin-bottom: 10px;
    }

    .size {
        font-size: 14px;
        font-family: 'Regular';
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    .size_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        background-color: #333;
        color: #fff;
        padding: 7px;
        border-radius: 5px;
    }

    .otzuv {
        display: flex;
        gap: 5px;
        font-size: 15px;
    }

    .card__bth {
        background-color: #333;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        width: 400px;
    }

    .card__bth a {
        color: #fff;
    }
}

/* BASKET */
.basket__bg {
    background-color: #FEFAE0;
}

.cont {
    max-width: 700px;
    margin: 0 auto;
}

.zag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-family: 'Regular';
}

.zag img {
    height: 20px;
}

.basket__img img {
    height: 309px;
}

.basket__card {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text__zag {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 14px;
    font-family: 'Regular';
    margin-top: 50px;
}

.item {
    font-size: 13px;
    font-family: 'Regular';
    color: #333;
}

.item p {
    padding: 0 0 7px 0;
}

/* BASKET */

@media screen and (max-width:430px) {
    .cont {
        max-width: 400px;
        margin: 0 auto;
    }

    .py-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .zag {
        font-size: 15px;
    }

    .basket__img img {
        height: 150px;
        width: 150px;
    }

    .basket__txt {
        margin-top: -15px;
    }

    .text__zag h3 {
        font-size: 12px;
    }

    .text__zag {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        font-size: 10px;
        font-family: 'Regular';
        margin-top: none;
    }

    .text__zag img {
        height: 25px;
    }



}

/* CATALOG */
.catalog {
    display: flex;
    gap: 200px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.cat__txt p {
    font-size: 15px;
    font-family: 'Regular';
    padding-bottom: 10px;
    width: 70px;
}

.input {
    margin-bottom: 30px;
}

.input input {
    padding: 7px 12px;
    font-size: 14px;
    font-family: 'Regular';
    margin-right: 10px;
    border: 1px solid #818181;
}

.input button {
    padding: 7px 12px;
    font-size: 14px;
    font-family: 'Regular';
    margin-right: 10px;
    background: #818181;
    color: #fff;
    border: none;
}

.cat__big {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.big__small p {
    font-size: 15px;
    font-family: 'Regular';
    text-align: center;
}

.cat__text {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Regular';
    color: #333;
    padding: 7px 0;
    margin-bottom: 10px;
}

.cata__bth {
    background: #283618;
    padding: 7px 117px;
    text-align: center;
    font-size: 13px;
    font-family: 'Regular';
    color: #fff;
}

.cata__bth a {
    color: #fff;
    margin-top: 10px;
}

/* CATALOG */
@media screen and (max-width:430px) {
    .section {
        max-width: 400px;
        margin: 0 auto;
    }

    .py-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* header */

    header {
        background-color: transparent;
        width: 430px;
    }

    .hd__bg h2 {
        display: none;
    }

    .nav-a {
        display: none;
    }

    .hd__btn {
        display: none;
    }

    [for=burger] {
        display: block;
        position: fixed;
        right: 400px;
        top: 10px;
    }

    [for=burger]::before {
        content: url(../media/burg.svg);

    }

    nav {
        position: fixed;
        top: 0;
        width: 150px;
        background-color: rgba(255, 228, 196, 0.63);
        padding: 20px;
        display: none;
        flex-direction: column;
        margin-left: 200px;
    }

    nav a {
        color: #000000;
    }

    #burger:checked+[for=burger]+nav {
        display: block;
        animation: show 0.5s;
    }

    #burger:checked+[for=burger]::before {
        content: url(../media/close.svg);
        font-size: 30px;
    }

    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .cat__txt {
        display: none;
    }

    .cat__big {
        display: flex;
        flex-wrap: wrap;
        gap: none;
        justify-content: space-between;
    }

    .input {
        display: none;
    }

    .big__small {
        display: block;
    }

    .big__small img {
        height: 200px;
        width: 160px;
    }

    .big__small p {
        font-size: 13px;
    }

    .cat__text {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 10px;
        font-family: 'Regular';
        color: #333;
        padding: 7px 0;
        margin-bottom: 10px;
    }

    .cata__bth {
        background: #283618;
        padding: 7px 48px;
        text-align: center;
        font-size: 10px;
        font-family: 'Regular';
        color: #fff;
    }

    .cata__bth a {
        color: #fff;
        margin-top: 10px;
    }








}